<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="consumerLifeCycle" class="org.p2p.lending.club.main.ConsumerLifeCycle">
        <constructor-arg ref="logicFilter"/>
    </bean>-->

    <bean id="queryAPI" class="org.p2p.lending.club.api.impl.HttpQueryAPI">
        <constructor-arg index="0" type="int" value="10"/>
        <constructor-arg index="1" type="java.lang.String" value="wrong"/>
        <constructor-arg index="2" type="java.lang.String" value="fake"/>
    </bean>
    <bean id="transactionManager" class="org.p2p.lending.club.api.transaction.impl.TransactionManager" init-method="init">
        <constructor-arg index="0" ref="logicFilter"/>
        <constructor-arg index="1" ref="queryAPI"/>
    </bean>

    <bean id="trader" class="org.p2p.lending.club.main.Trader" init-method="init">
        <constructor-arg index="0" ref="transactionManager"/>
        <constructor-arg index="1" ref="queryAPI"/>
    </bean>

    <import resource="classpath:high-grade-filter-context.xml"/>
</beans>